<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="python" arguments="api.py" startupTimeLimit="60">
            <environmentVariables>
                <environmentVariable name="PYTHONUNBUFFERED" value="1" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
